<a href="https://colab.research.google.com/github/Bhavyamishra24/My-resume/blob/main/beginnerjourney-python%20basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
# print("Hello world")

In [13]:
# import pyjokes
# joke = pyjokes.get_joke()
# print(joke)

A programmer was found dead in the shower. Next to their body was a bottle of shampoo with the instructions 'Lather, Rinse and Repeat'.

In [14]:
# print('''Twinkle, twinkle, little star,
# How I wonder what you are!
# Up above the world so high,
# Like a diamond in the sky.

# Twinkle, twinkle, little star,
# How I wonder what you are!''')

Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.

Twinkle, twinkle, little star,
How I wonder what you are!

3

# CHAPTER TWO

In [17]:
a = 1 # a is a variable here
b = 2
print(a + b)

3

In [25]:
a = 1 # a is a  integer variable
b = 2.33 # b is a floating point number
c = "abs3"# c is a string
d = True # d is a boolean
e = None # e is a none integer
if  a == 1: # simple if condition
  print(c)

abs3

In [27]:
#invalid names of variables
@a = 2 # this is not a valid name = since other than _ no other character can be used
_b = 3 # valid name since it can start with _
2bhavya = 23 # invalid name = since names can't start with numbers
print(""" @a
_b
""")

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (ipython-input-27-3766681070.py, line 2)

In [28]:
#Arthimetic operater
a = 2
b = 4
c = a + b # yaha pr + is a arthimetic op
print(c)

6

In [31]:
a = 4-2
b = 6 #assignment operator
b += 3
c = 11
c -= 3
print (a, b, c)

2 9 8

In [32]:
d = 5 <= 4 #comparison operator
print(d)

False

In [33]:
e = True or False
f = True and False
print(e, f)
print(not(True))

True False
False

In [34]:
#type( ) func
a = 31
t = type(a)
print(t)

#Type conversion
a3 = "3.2"
b = float(a3)
d = type(b)
print(d)

<class 'int'>
<class 'float'>

# two - practise session

In [35]:
#adding two nos.
a = 2
b = 3
print(a + b)

5

In [36]:
#wap to find remainder
a = 12
b = 3
print("remainder when a is divided by b is", a%b)

remainder when a is divided by b is 0

In [37]:
a = 34
b = 80
c = a>b
print(c)

False

In [38]:
a = int(input("enter a number: "))
print("square of the number is :", a * a)

enter a number: 3
square of the number is : 9

In [40]:
a = int(input("enter a number1: ")) #avg of 2 numbers
b = int(input("enter a number2: "))
print("average of both numbers =", (a + b)/2)

enter a number1: 24
enter a number2: 36
average of both numbers = 30.0